@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


$color-primary: #171717;
$color-secondary: #eeeeee;

$sw-largest: 1200px;
$sw-large: 1000px;
$sw-medium: 700px;
$sw-small: 500px;

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    @media only screen and (max-width: $sw-largest) {
        font-size: 50%;
    }

}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    margin-top: 10rem;
}

.signin-btn {
    margin-top: 1.6rem;
    padding: 1.8rem 2.4rem;
    font-size: 2rem;
    border-radius: 10px;
}
