.profile {
    margin: 4rem auto;
    width: 60%;

    @media only screen and (max-width: $sw-medium) {
        margin: 2rem, auto;
        width: 80%;
    }



    &__details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        border: 1px solid rgba($color-primary, 0.8);
        box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
        border-radius: 15px;

        
        @media only screen and (max-width: $sw-medium) {
            align-content: center;
        }
    }

    &__picture {
        margin: 2rem auto;
        @media only screen and (max-width: $sw-small) {
            margin: 2rem, auto;
        }

        &-img {
            width: 14rem;
            border-radius: 50%;
            object-fit: cover;
            height: 14rem;
            @media only screen and (max-width: $sw-medium) {
                margin: 0.5rem auto;
                width: 12rem;
                height: 12rem;
            }
        }

        &-username {
            margin: 1rem;
            font-size: 1.8rem !important;
        }
    }

    &__stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin: 2rem;
        @media only screen and (max-width: $sw-small) {
            margin: 2rem;
        }

        & > * {
            align-self: center;
            justify-self: center;
        }

    }

    &__posts {
        display: grid;  
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        margin-top: 6rem;
        
        border: 1px solid rgba($color-primary, 0.8);
        box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
        border-radius: 15px;
    }

    &__post {
        width: 90%;
        height: 22rem;
        margin: 1rem;
    }
}

.profile-btn {
    align-self: center;
    justify-self: stretch;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.6rem;
}

.post-btn {
    grid-column: 1/2;
}

.change-profile {
    grid-column: 2/3;
}