.search {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.searchbox {
    width: 50%;

    &-input {
        width: 80%;
        border: 1px solid rgb(182, 182, 182);
        padding: 1.4rem;
        font-size: 1.5rem;
        border-radius: 100px;


        &:focus {
            box-shadow: 0 0 0.8rem rgba($color-primary, 0.4);
        }

        &:focus-visible {
            outline: none;
        }
    }
}

.search-btn {
    padding: 1.4rem 2.5rem;
    font-size: 1.5rem;
    margin-left: -5rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}