@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

.sign-in {
  text-align: center;
  margin: 5rem;
}

.signin-btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: #eeeeee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header__title {
  font-size: 3.2rem;
  text-decoration: none;
  color: #171717;
}
.header__links {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 500px) {
  .header__links {
    display: none;
  }
}
.header__links-search {
  text-decoration: none;
  color: #171717;
  margin-right: 1.2rem;
}
.header__links-profile {
  text-decoration: none;
  color: #171717;
  margin-right: 1.2rem;
}

.btn-header {
  font-size: 1.6rem;
  padding: 1rem 1.8rem;
  border-radius: 10px;
}

.search {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .search {
    margin: 4rem 0;
  }
}
.search__results {
  width: 50%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(182, 182, 182);
}
@media only screen and (max-width: 1200px) {
  .search__results {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  .search__results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .search__results {
    grid-template-columns: none;
  }
}
.search__results-userImg {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .search__results-userImg {
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 1000px) {
  .search__results__post-count {
    grid-column: 2/3;
  }
}
.search__results > * {
  font-size: 1.6rem;
  margin: 1.2rem;
}
.search__results > button {
  padding: 1.2rem;
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .search__results > button {
    grid-row: 2/3;
  }
}
.search__results-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 1rem;
}
.search__results-name:link, .search__results-name:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #171717;
}

.searchbox {
  width: 70%;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1200px) {
  .searchbox {
    width: 80%;
  }
}
.searchbox-input {
  width: 85%;
  border: 1px solid rgb(182, 182, 182);
  padding: 1.4rem;
  font-size: 1.6rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
@media only screen and (max-width: 1200px) {
  .searchbox-input {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .searchbox-input {
    width: 60%;
  }
}
.searchbox-input:focus {
  box-shadow: 0 0 0.8rem rgba(23, 23, 23, 0.4);
}
.searchbox-input:focus-visible {
  outline: none;
}

.search-btn {
  padding: 1.4rem 2.5rem;
  font-size: 1.6rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.profile {
  margin: 4rem auto;
  width: 60%;
}
@media only screen and (max-width: 700px) {
  .profile {
    margin: 2rem, auto;
    width: 80%;
  }
}
.profile__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  border: 1px solid rgba(23, 23, 23, 0.8);
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.2);
  border-radius: 15px;
}
@media only screen and (max-width: 700px) {
  .profile__details {
    align-content: center;
  }
}
.profile__picture {
  margin: 2rem auto;
}
@media only screen and (max-width: 500px) {
  .profile__picture {
    margin: 2rem, auto;
  }
}
.profile__picture-img {
  width: 14rem;
  border-radius: 50%;
  object-fit: cover;
  height: 14rem;
}
@media only screen and (max-width: 700px) {
  .profile__picture-img {
    margin: 0.5rem auto;
    width: 12rem;
    height: 12rem;
  }
}
.profile__picture-username {
  margin: 1rem;
  font-size: 1.8rem !important;
}
.profile__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 2rem;
}
@media only screen and (max-width: 500px) {
  .profile__stats {
    margin: 2rem;
  }
}
.profile__stats > * {
  align-self: center;
  justify-self: center;
}
.profile__posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 6rem;
  border: 1px solid rgba(23, 23, 23, 0.8);
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.2);
  border-radius: 15px;
}
.profile__post {
  width: 90%;
  height: 22rem;
  margin: 1rem;
}

.profile-btn {
  align-self: center;
  justify-self: stretch;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.6rem;
}

.post-btn {
  grid-column: 1/2;
}

.change-profile {
  grid-column: 2/3;
}

.btn {
  border: none;
  background-color: #171717;
  cursor: pointer;
  color: #eeeeee;
  transition: all 0.2s;
}
.btn:hover {
  background-color: rgba(23, 23, 23, 0.7);
}

.heading-h1 {
  font-size: 3.5rem;
  color: #171717;
  font-weight: 400;
  margin: 2rem;
}

.heading-h2 {
  font-weight: 400;
  font-size: 2.5rem;
}

.text {
  font-size: 1.5rem;
  text-align: center;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mt-sm {
  margin-top: 1rem;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__img {
  height: 15rem;
  width: 15rem;
  align-self: center;
}
.modal__content {
  position: relative;
  background-color: #fefefe;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 60%;
  display: flex;
  flex-direction: column;
  animation: modalAnimation 0.4s ease-in;
}
.modal__content > * {
  margin: 2rem 0;
}
.modal__caption {
  width: 100%;
  border: 1px solid rgb(182, 182, 182);
  padding: 1.4rem;
  font-size: 1.5rem;
  border-radius: 100px;
}
.modal__caption:focus {
  box-shadow: 0 0 0.8rem rgba(23, 23, 23, 0.4);
}
.modal__caption:focus-visible {
  outline: none;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  margin: 0;
  cursor: pointer;
}

.modal-btn {
  padding: 1rem 2rem;
  border-radius: 10px;
}

@keyframes modalAnimation {
  0% {
    top: -5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 2rem auto;
  font-size: 1.4rem;
}
@media only screen and (max-width: 700px) {
  .home {
    width: 90%;
  }
}
.home-post {
  margin: 6rem 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(23, 23, 23, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media only screen and (max-width: 1000px) {
  .home-post {
    grid-template-columns: none;
  }
}
.home__img {
  object-fit: cover;
  border-right: 1px solid rgba(23, 23, 23, 0.2);
  width: 100%;
  height: 45rem;
}
.home__interact {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  margin: 1rem;
  gap: 1.4rem;
}
.home__stats {
  display: flex;
  align-items: center;
}
.home__stats-like {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  stroke: black;
  transition: all 0.2s;
}
.home__stats-count {
  margin-right: 1rem;
}
.home__stats-input {
  flex: 1;
  border: 1px solid rgb(182, 182, 182);
  padding: 1rem;
  font-size: 1.4rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.home__stats-input:focus {
  box-shadow: 0 0 0.8rem rgba(23, 23, 23, 0.4);
}
.home__stats-input:focus-visible {
  outline: none;
}
.home__comments {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid rgba(23, 23, 23, 0.2);
  max-height: 30rem;
  overflow: scroll;
}
@media only screen and (max-width: 1000px) {
  .home__comments {
    max-height: 15rem;
  }
}
.home__comments-imguser {
  display: flex;
  align-items: center;
}
.home__comments-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.home__comments-comment {
  margin: 1rem 0;
}

.user {
  display: flex;
  align-items: center;
}
.user > img {
  width: 3.4rem;
  height: 3.4rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.comment-btn {
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/*# sourceMappingURL=globals.css.map */
